.container {
    background-color: rgb(234, 236, 211);
    max-width: 500px;
    box-shadow: 0 2px 2px rgb(51, 50, 50);
    border-radius: 5px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}

.compras-form {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alerta {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.lista {
    justify-content: center;
}

.submit-botao {
    align-items: center;
    cursor: pointer;
}

.compras-container {
    margin-top: 15px;
    visibility: hidden;
}